<h1 Mat-dialog-title>Add Form</h1>
<div mat-dialog-content>
   <form [formGroup]="postForm">
    <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput placeholder="Placeholder">
        
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Body</mat-label>
        <input formControlName="body" matInput placeholder="Placeholder"> 
      </mat-form-field>
   </form>
      <div mat-dialog-action [align]="'end'">
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>
        <button style="margin-left: 8px;"mat-raised-button color="primary"(click)="addUser()">Save</button>
      </div>

      
</div>